
* {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: #1d3557;
}

.nav {
  z-index: 1;
  grid-column: 1/7;
  grid-row: 1/2;
}
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style: none;
}
.nav-item {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  color: #e63946;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
}

.main {
  z-index: 0;
  padding: 2rem;
  grid-column: 1/7;
  grid-row: 2/8;
  color: #fff;
}

.footer {
  grid-column: 1/7;
  grid-row: 8/9;
  background-color: #192d49;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_p {
  color: #929191;
}

.home_h1 {
  font-size: 3rem;
  font-weight: 500;
}
.home_p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #929191;
  margin-top: 1rem;
}
.call-to-action {
  margin-top: 2rem;
}
.home_button {
  padding: 1rem;
  background-color: #e63946;
  color: #fff;
  text-decoration: none;
}
.home_button:first-of-type {
  margin-right: 1rem;
}